.vscode
.npm
.eslintcache
.env
.env.test
.cache
*.lcov
*.log
*.tgz
.DS_Store
.npm/
.parcel-cache
/.changelog
build
coverage
lerna-debug.log*
npm-debug.log*
package-lock.lock
node_modules/
template/src/__tests__/__snapshots__/
yarn-debug.log*
yarn-error.log*
